Include /etc/crypto-policies/back-ends/opensshserver.config

Protocol 2
Port 22

AddressFamily inet
ListenAddress 0.0.0.0

AllowUsers hwwilliams
DenyUsers root admin

HostKey /etc/ssh/ssh_host_ed25519_key

RekeyLimit default 600

VersionAddendum TempleOS

LogLevel INFO
SyslogFacility AUTHPRIV

AuthenticationMethods publickey

StrictModes yes

LoginGraceTime 30
MaxAuthTries 3
MaxSessions 10
MaxStartups 2:25:10

PermitRootLogin no

PubkeyAuthentication yes

IgnoreRhosts yes
IgnoreUserKnownHosts yes
HostbasedAuthentication no

PasswordAuthentication no
PermitEmptyPasswords no

ChallengeResponseAuthentication no

KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes

GSSAPIAuthentication no
GSSAPICleanupCredentials yes

UsePAM yes

X11Forwarding no
X11UseLocalhost yes

GatewayPorts no

PermitTunnel no

AllowAgentForwarding yes
AllowTcpForwarding no

TCPKeepAlive no

ClientAliveCountMax 3
ClientAliveInterval 300

PermitUserEnvironment no

Banner none

Compression no

PrintLastLog yes

PrintMotd no

UseDNS no

Match Group sftponly
    ForceCommand internal-sftp -l INFO -f LOCAL6 -u 0027
    ChrootDirectory /home/%u
    AllowTcpForwarding no
    AllowAgentForwarding no
    PasswordAuthentication no
    PermitRootLogin no
    X11Forwarding no
